<a href="https://colab.research.google.com/github/pjwu1997/FinancialEngineering/blob/master/Test_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import csv

In [93]:
principal = float(input("請輸入本金（萬元）"))*10000
terms = int(input("請輸入期數（年）"))
rate = float(input("請輸入年利率（%）"))

請輸入本金（萬元）10
請輸入期數（年）1
請輸入年利率（%）12

In [0]:
r_principal = []
interest = []
payment_list = []
sum_totalpay = []
total = 0

In [0]:
payment = int(principal / (terms * 12))

In [0]:
for i in range(terms * 12-1):
    r_principal.append(principal)
    interest.append(int(r_principal[-1]*(rate/100/12)))
    principal -= payment
    total += (int(payment+interest[-1]))
    payment_list.append(payment)
    sum_totalpay.append(total)
r_principal.append(principal)
payment_list.append(int(r_principal[-1]))
interest.append(int(r_principal[-1]*rate/100/12))
total += int(payment_list[-1]+interest[-1])
sum_totalpay.append(total)

In [97]:
payment

8333

In [98]:
r_principal

[100000.0,
 91667.0,
 83334.0,
 75001.0,
 66668.0,
 58335.0,
 50002.0,
 41669.0,
 33336.0,
 25003.0,
 16670.0,
 8337.0]

In [99]:
total

106496

In [100]:
sum_totalpay

[9333,
 18582,
 27748,
 36831,
 45830,
 54746,
 63579,
 72328,
 80994,
 89577,
 98076,
 106496]